<div class="header">
    <div class="logo">
        <div class="logoWrapper">
            <a href="/" class="logoName"><img src="/imgs/logofull-none.png" class="logoName"></a>
            <div class="searchBar">
                <form class="row searchInput" action='/search' method='post'>
                    <input type='text' name='search' required pattern="[^{}<>]{2,50}" placeholder="Search For Recipe"></input>
                    <button type="submit" class="searchbutton"><img src="/imgs/search-white.svg"></button>
                </form>
            </div>
        </div>
    </div>
    <ul class="menu">
        <li><a href="/">Favourites</a></li>
        <li><a href="/recipeList">Recipe List</a></li>
        <li><a href="/newRecipePage">New Recipe</a></li>
    </ul>
    <ul class="menuShelf">
        <li><a href="/favourites">Favourites</a></li>|
        <li><a href="/recipeList">Recipe List</a></li> |
        <li><a href="/recipeFrom">New Recipe</a></li> |
    </ul>
</div>