<div class="header">
    <div class="logo">
        <div class="logoWrapper">
            <a href="/" class="logoName"><img src="/imgs/logofull-none.png" class="logoName"></a>
            <div class="searchButtonMobile">
                <button type="button" class="searchButton"><img src="/imgs/search-white.svg"></button>
            </div>
            <div class="searchBar">
                <form class="row searchInput" action='/search' method='post'>
                    <input type='text' name='search' required pattern="[^{}<>]{2,50}" placeholder="Search For Recipe"></input>
                    <button type="submit" class="searchButton"><img src="/imgs/search-white.svg"></button>
                </form>
            </div>
        </div>

    </div>
    <div class="searchBarMobile hidden">
        <div class="searchBarMobileWrapper">
            <form class="row searchInput" action='/search' method='post'>
                <button type="submit" class="searchButtonMobileInner"><img src="/imgs/search.svg"></button>
                <input type='text' name='search' required pattern="[^{}<>]{2,50}" placeholder="Search For Recipe">
                </input>
            </form>
        </div>
    </div>
    <ul class="menu">
        <li><a href="/">Favourites</a></li>
        <li><a href="/recipeList">Recipe List</a></li>
        <li><a href="/newRecipePage">New Recipe</a></li>
    </ul>
    <ul class="menuShelf">
        <li><a href="/favourites">Favourites</a></li>|
        <li><a href="/recipeList">Recipes</a></li> |
        <li><a href="/recipeFrom">Create</a></li> |
        <li><a href="/shoppingList">Groceries</a></li> |
        <% if (currentUser) { %>
            <li>Welcome, <%= currentUser.username %></li> |
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li> |
            <li><a href="/register">Register</a></li>
        <% } %>
    </ul>
</div>

<script>
    let searchButtonMobile = document.querySelector(".searchButtonMobile");
    let searchBarMobile = document.querySelector(".searchBarMobile");

    searchButtonMobile.addEventListener("click", () => {
        searchBarMobile.classList.remove("hidden");
    })
</script>
