<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/recipeList.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <%- include('partials/header');%>
    <div class="contentWrapper">
        <div class="content">
            <h1 class="listH1">Shopping List</h1>

            <div class="listButtonRow">
                <form class="col deleteShop" action="/deleteShop" method='post'>
                    <button>Delete List</button>
                </form>
                <button id="simplify">Simplified List</button>
                <button id="detail">Detailed List</button>
            </div>


            <ul class="simplified"> 
                        <%simplified.forEach((ingredient) => {%>
                            <li class="ingredient">
                                <%=ingredient%>
                            </li>
                        <%})%>
            </ul>
            <ul class="detailed" style="display:none">
                <%detailed.forEach((ingredient) => {%>
                    <li class="ingredient">
                        <%=ingredient%>
                    </li>
                <%})%>
            </ul>
        </div>
    </div>

    <script>
        let ingredient= document.querySelectorAll(".ingredient");
        let simplify = document.querySelector("#simplify");
        let detail = document.querySelector("#detail");
        let simplified = document.querySelector(".simplified")
        let detailed = document.querySelector(".detailed");

        ingredient.forEach((ingredient) => {
            ingredient.addEventListener("click", function(){
                this.classList.toggle("strikeout");
            })
        })

        simplify.addEventListener("click", function(){
            detailed.style.display = "none";
            simplified.style.display = "block";
        });

        detail.addEventListener("click", function(){
            simplified.style.display = "none";
            detailed.style.display = "block";
        })


     
    </script>
        
</body>
</html>