<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supported Recipe Websites</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/supportedSites.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>

    <div class="supported-sites-wrapper">
        <h1>Supported Recipe Websites</h1>
        <p style="text-align: center; margin-bottom: 2rem; color: #666;">You can import recipes by pasting links from the following websites:</p>
        <ul class="supported-sites-list">
            <li><a href="https://101Cookbooks.com" target="_blank" rel="noopener noreferrer">101Cookbooks.com</a></li>
            <li><a href="https://Allrecipes.com" target="_blank" rel="noopener noreferrer">Allrecipes.com</a></li>
            <li><a href="https://AmbitiousKitchen.com" target="_blank" rel="noopener noreferrer">AmbitiousKitchen.com</a></li>
            <li><a href="https://AverieCooks.com" target="_blank" rel="noopener noreferrer">AverieCooks.com</a></li>
            <li><a href="https://BBCGoodFood.com" target="_blank" rel="noopener noreferrer">BBCGoodFood.com</a></li>
            <li><a href="https://BBC.com" target="_blank" rel="noopener noreferrer">BBC.com</a></li>
            <li><a href="https://BonAppetit.com" target="_blank" rel="noopener noreferrer">BonAppetit.com</a></li>
            <li><a href="https://BudgetBytes.com" target="_blank" rel="noopener noreferrer">BudgetBytes.com</a></li>
            <li><a href="https://CentralTexasFoodBank.org" target="_blank" rel="noopener noreferrer">CentralTexasFoodBank.org</a></li>
            <li><a href="https://ChefJonWatts.com" target="_blank" rel="noopener noreferrer">ChefJonWatts.com</a></li>
            <li><a href="https://ClosetCooking.com" target="_blank" rel="noopener noreferrer">ClosetCooking.com</a></li>
            <li><a href="https://CookieAndKate.com" target="_blank" rel="noopener noreferrer">CookieAndKate.com</a></li>
            <li><a href="https://CopyKat.com" target="_blank" rel="noopener noreferrer">CopyKat.com</a></li>
            <li><a href="https://DamnDelicious.net" target="_blank" rel="noopener noreferrer">DamnDelicious.net</a></li>
            <li><a href="https://EatingOnADime.com" target="_blank" rel="noopener noreferrer">EatingOnADime.com</a></li>
            <li><a href="https://EatingWell.com" target="_blank" rel="noopener noreferrer">EatingWell.com</a></li>
            <li><a href="https://Epicurious.com" target="_blank" rel="noopener noreferrer">Epicurious.com</a></li>
            <li><a href="https://FoodAndWine.com" target="_blank" rel="noopener noreferrer">FoodAndWine.com</a></li>
            <li><a href="https://FoodieWithFamily.com" target="_blank" rel="noopener noreferrer">FoodieWithFamily.com</a></li>
            <li><a href="https://FoodNetwork.com" target="_blank" rel="noopener noreferrer">FoodNetwork.com</a></li>
            <li><a href="https://GimmeDelicious.com" target="_blank" rel="noopener noreferrer">GimmeDelicious.com</a></li>
            <li><a href="https://GimmeSomeOven.com" target="_blank" rel="noopener noreferrer">GimmeSomeOven.com</a></li>
            <li><a href="https://InspiredTaste.net" target="_blank" rel="noopener noreferrer">InspiredTaste.net</a></li>
            <li><a href="https://JamieOliver.com" target="_blank" rel="noopener noreferrer">JamieOliver.com</a></li>
            <li><a href="https://JulieBlanner.com" target="_blank" rel="noopener noreferrer">JulieBlanner.com</a></li>
            <li><a href="https://KitchenStories.com" target="_blank" rel="noopener noreferrer">KitchenStories.com</a></li>
            <li><a href="https://MelsKitchenCafe.com" target="_blank" rel="noopener noreferrer">MelsKitchenCafe.com</a></li>
            <li><a href="https://MinimalistBaker.com" target="_blank" rel="noopener noreferrer">MinimalistBaker.com</a></li>
            <li><a href="https://MyRecipes.com" target="_blank" rel="noopener noreferrer">MyRecipes.com</a></li>
            <li><a href="https://NomNomPaleo.com" target="_blank" rel="noopener noreferrer">NomNomPaleo.com</a></li>
            <li><a href="https://OmnivoresCookbook.com" target="_blank" rel="noopener noreferrer">OmnivoresCookbook.com</a></li>
            <li><a href="https://PinchOfYum.com" target="_blank" rel="noopener noreferrer">PinchOfYum.com</a></li>
            <li><a href="https://RecipeTinEats.com" target="_blank" rel="noopener noreferrer">RecipeTinEats.com</a></li>
            <li><a href="https://SeriousEats.com" target="_blank" rel="noopener noreferrer">SeriousEats.com</a></li>
            <li><a href="https://SimplyRecipes.com" target="_blank" rel="noopener noreferrer">SimplyRecipes.com</a></li>
            <li><a href="https://SmittenKitchen.com" target="_blank" rel="noopener noreferrer">SmittenKitchen.com</a></li>
            <li><a href="https://TamingTwins.com" target="_blank" rel="noopener noreferrer">TamingTwins.com</a></li>
            <li><a href="https://TasteOfHome.com" target="_blank" rel="noopener noreferrer">TasteOfHome.com</a></li>
            <li><a href="https://TastesBetterFromScratch.com" target="_blank" rel="noopener noreferrer">TastesBetterFromScratch.com</a></li>
            <li><a href="https://ThatLowCarbLife.com" target="_blank" rel="noopener noreferrer">ThatLowCarbLife.com</a></li>
            <li><a href="https://TheBlackPeppercorn.com" target="_blank" rel="noopener noreferrer">TheBlackPeppercorn.com</a></li>
            <li><a href="https://ThePioneerWoman.com" target="_blank" rel="noopener noreferrer">ThePioneerWoman.com</a></li>
            <li><a href="https://TheRealFoodDrs.com" target="_blank" rel="noopener noreferrer">TheRealFoodDrs.com</a></li>
            <li><a href="https://TheRecipeCritic.com" target="_blank" rel="noopener noreferrer">TheRecipeCritic.com</a></li>
            <li><a href="https://TheSpruceEats.com" target="_blank" rel="noopener noreferrer">TheSpruceEats.com</a></li>
            <li><a href="https://WhatsGabyCooking.com" target="_blank" rel="noopener noreferrer">WhatsGabyCooking.com</a></li>
            <li><a href="https://woolworths.com.au" target="_blank" rel="noopener noreferrer">Woolworths.com.au</a></li>
            <li><a href="https://Yummly.com" target="_blank" rel="noopener noreferrer">Yummly.com</a></li>
        </ul>
    </div>

</body>
</html>
