html, body, p, h3, h2, h1, ul, li {
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

.hidden{
    display:none !important;
}

textarea{
    font-family: 'Poppins', sans-serif;
}
.col{
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
}

.header{
    display:flex;
    flex-direction: column;
    box-shadow:  2px 1px 5px #000000;
    background-color: rgb(221, 60, 42);
}

.logo{
    display:flex;
    justify-content: center;
    padding:1rem 0;
}

.logoWrapper {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
}

.logoName{
    align-self: center;
    height:2rem;
}

.searchBar{
    display:none;
}

.searchButton{
    background-color: rgb(221, 60, 42);
    border:none;
    align-self: center;
    height:100%;
}

.searchButton img{
    height: 1.6rem;
}

.searchButtonMobile{
    display: flex;
}

.searchBarMobileWrapper{
    padding:1rem;
}

.searchInput{
    border-radius:4px;
    box-shadow: 0 0 0 2px #ddd;
}

.searchInput:focus-within {
    box-shadow: 0 0 0 2px #a8d4ff; /* Change as needed */
}

.searchBarMobileWrapper .searchInput input{
    width:100%;
    border-radius: 0 4px 4px 0;
}

.searchBarMobileWrapper .searchInput input:focus{
    outline:none;
}

.searchBarMobileWrapper .searchInput input, .searchBarMobileWrapper .searchInput button{
    border:none;
}

.searchBarMobileWrapper .searchInput button{
    background-color: white;
    border-radius: 4px 0 0 4px;
}

.searchBarMobileWrapper .searchInput button img{
    height: 1.6rem;
    padding: 0.3rem;
}

.menu{
    display:none;
    list-style: none;
    font-size:0.5rem;
}

.menuShelf{
    padding:0.5rem 0;
    justify-content:center;
    align-items: center;
    display:flex;
    list-style: none;
    gap:1rem;
    background-color: #191919;
    color:white;
}

.menuShelf a, .menuShelf a:visited{
    color:white;
    text-decoration:none;
}

@media only screen and (min-width: 600px) {
    .searchBar{
        align-self:center;
        display:flex;
    }

    .logoWrapper {
        width:50%;
        justify-content: space-between;
    }
    
    .searchBarMobile{
        display:none;
    }

    .searchButtonMobile{
        display:none;
    }

    .searchInput{
        box-shadow:none;
    }

    /* Style the input field */
    .searchInput input[type='text'] {
        flex-grow: 1; /* Allow input to grow and fill space */
        padding: 0.5rem;
        border: 2px solid #ddd; /* Light grey border */
        border-radius: 4px 0 0 4px; /* Rounded corners on the left side */
        outline: none; /* Remove default focus outline */
    }

    /* Style the submit button */
    .searchInput button.searchButton {
        border: none;
        background-color: #171717; /* Bootstrap primary color */
        color: white;
        cursor: pointer;
        border-radius: 0 4px 4px 0; /* Rounded corners on the right side */
    }

    /* Change button background on hover */
    .searchInput button.searchButton:hover {
        background-color: #a8a8a8; /* Darker shade when hovered */
    }

    .searchButton img{
        height: 1.4rem;
    }
  }