html, body{
    height:100%;
}

body{
    display:flex;
    flex-direction: column;
}

.content{
    padding:0 1rem;
    align-self:center;
}

.title, .recipeImg, .description, .steps, .ingredients{
    padding-top:2rem;
}

.content ul{
    margin-left:1.5rem;
    margin-top:0;
    padding-top:0.5rem;
}

ol li{
    padding-bottom:0.75rem;
    text-align:left;
}

.content ol{
    padding-inline-start:0;
    margin-left:1rem;
    margin-top:0;
    padding-top:0.5rem;
}

.buttons{
    display:flex;
    align-items: center;
    padding-top:1rem;
    padding-bottom:1rem;
}

.buttons a{
    display:flex;
    align-items: center;

}

button{
    border:none;
    background-color: rgba(128, 128, 128, 0);
    font-size:2rem;
    display:flex;
    align-items: center;
}

.buttons img{
    height:30px;
    width:30px;
    padding:0;
}

.recipeHero{
    width: 100%;
    padding: 0;
    flex-direction: column;
}

img{
    max-width: 100%;
}

.recipeInstructionsWrapper{
    flex-direction: column;
    gap:1rem;
}

.thumbnail{
    max-width:20%;
}

@media (min-width: 768px) {
    .content{
      display:flex
    }

    .recipeHeroWrapper{
        grid-area:hero;
        display:flex;
        justify-self: center;
        justify-content: center;
        width:100%;
    }

    

    .recipeHero{
        display:flex
    }

    .recipeInstructionsWrapper{
        background-color: #ecf3f9;
        display:flex;
        justify-content: center;
        width:100%
    }
    .recipeInstructions{
        display:flex;
        justify-content: center;
        padding: 2rem 0;
        gap:2rem;
        width:70%;
    }

  }

  @media (min-width: 1000px) {
    .recipeHero{
        padding:2rem 0;
        max-width:80%;
    }
    .recipeInstructions{
        padding:2rem 0;
        max-width:80%;
    }
  }


  @media (min-width: 1300px) {
    .recipeHero{
        padding:2rem 0;
        max-width:70%;
    }
    .recipeInstructions{
        padding:2rem 0;
        max-width:70%;
    }
  }

  @media (min-width: 1500px) {
    .recipeHero{
        padding:2rem 0;
        max-width:60%;
    }
    .recipeInstructions{
        padding:2rem 0;
        max-width:60%;
    }
  }