body{
    display:flex;
    flex-direction: column;
}

.content{
    padding:1rem 1rem 2rem 1rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    align-self:center;
}

.toggle{
    gap:0.5rem;
    padding-bottom:3rem;
}

#toggleStylesheet{
    border-radius: 5px;
    background-color: #FFF7ED;
}

#toggleStylesheet:hover{
    background-color: rgb(211, 219, 225);
}

.contentWrapper{
    display: flex;
    justify-content: center;
}

.content h1{
    font-family:'Fraunces';
    font-weight:900;
    padding: 1rem 0rem 2rem 0rem;
    color:#F53100;
    font-size: 5rem;
}

.content ul{
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: auto;
    gap:2rem;
}

.buttons.row{
    justify-content: center;
}

img.recipeImg {
    max-height: 14rem;
    width: 100%;
    height:14rem;
    object-fit: cover;
}


.content ul li{
   list-style:none; 
   font-size:1.1rem;
   padding:0.25rem 0;
   text-align:center;
}


.content a, .content a:visited{
    color:rgb(0, 0, 0);
    text-decoration:none;

}

.contentRow{
    display:grid;
    align-items: center;
    justify-content: space-between;
    width:100%;
    flex-direction: column;
    height: 20rem;
    grid-template-columns: 1fr;
    max-height: 20rem;
    grid-template-rows: 2fr 10fr 1fr;
    padding-bottom:1rem;
}

span{
    align-self:center;
    color: red;
    padding-right:0.5rem;
}

.deleteBtn, .editBtn, .favouriteBtn, .shoppingListBtn{
    display: flex;
    align-items: center;
    border:none;
    background-color: #FFF7ED;
}

.deleteBtn img, .editBtn img, .favouriteBtn img, .shoppingListBtn img {
    height: 1.5rem;
}



  @media only screen and (min-width: 600px) {
    @media only screen and (max-width: 1200px) {
        .content{
            width:90%;
        }
      }
  }
  @media only screen and (min-width: 1200px) {
    .content{
        width:90%;
    }
  }